<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPaymentBoxService" />
        <binding name="BasicHttpBinding_ICustomerService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDbService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IMovementService">
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/DbService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IDbService" contract="DbService.IDbService"
          name="NetTcpBinding_IDbService">
        <identity>
          <userPrincipalName value="DESKTOP-K4FVO82\Demian" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/PaymentBoxService/PaymentBoxService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentBoxService"
          contract="PaymentBoxService.IPaymentBoxService" name="BasicHttpBinding_IPaymentBoxService" />
      <endpoint address="http://localhost:8080/CustomerService/CustomerService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
          contract="CustomerService.ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:8080/MovementService/MovementService"
          binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMovementService"
          contract="MovementService.IMovementService" name="WSDualHttpBinding_IMovementService">
        <identity>
          <userPrincipalName value="DESKTOP-K4FVO82\Demian" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>