<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=DESKTOP-K4FVO82;initial catalog=GIGA_IT_PaymentDB;trusted_connection=true" />
  </connectionStrings>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      
      <service behaviorConfiguration="mexBehavior" name="WCF_Service.Services.MovementService">
        <endpoint address="MovementService" binding="wsDualHttpBinding"  contract="WCF_Service.Contracts.IMovementService"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MovementService" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="mexBehavior" name="WCF_Service.Services.DbService">
        <endpoint address="DbService" binding="netTcpBinding"  contract="WCF_Service.Contracts.IDbService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/" />
            <add baseAddress="http://localhost:8080/DbService" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="mexBehavior" name="WCF_Service.Services.CustomerService">
        <endpoint address="CustomerService" binding="basicHttpBinding"  contract="WCF_Service.Contracts.ICustomerService"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/CustomerService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="mexBehavior" name="WCF_Service.Services.PaymentBoxService">
        <endpoint address="PaymentBoxService" binding="basicHttpBinding"  contract="WCF_Service.Contracts.IPaymentBoxService"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/PaymentBoxService" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
  </system.serviceModel>
</configuration>

